.bottom {
    &__wrapper {
        margin: 0 auto; 
        margin-top: -20px; 
        width: 95%; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__copyright {
        h4 {
            text-align: center;
            text-transform: uppercase;
            color: black;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
        }
    }

    &__logos {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        img {
            width: 75px; 
            height: 45px;
        }
    }
}


@media only screen and (min-width: 700px) {
    .bottom {
        &__wrapper {
            width: 98%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;   
        }

        &__logos {
            margin: 0 0;
            display: flex;
            justify-content: space-between;
        }
    }
}