.boutique {
    &__wrapper {
        width: 98%; 
        margin: 0 auto;

        h3 {
            margin-top: 40px;
            text-align: center;
            text-transform: uppercase;
            color: black;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }

        p {
            text-align: center;
            margin: 30px auto 40px; 
            color: rgb(58, 58, 58);
            width: 90%;
            letter-spacing: 3px; 
            font-size: 15px;
            font-weight: 1000;
            font-family: 'Fira Sans', sans-serif;
            line-height: 1.6;
        }
    }
}

@media only screen and (min-width: 700px) {
    .boutique {
        &__wrapper {
            width: 80%;
            border-top: 1px solid $border-color; 
        }
    }
}