.contacts {
    h4 {
        text-align: center;
        text-transform: uppercase;
        color: black;
        letter-spacing: 3px; 
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    } 

    p {
        margin: 0 auto; 
        text-align: center;
        color: rgb(58, 58, 58);
        width: 90%;
        letter-spacing: 3px; 
        font-size: 14px;
        font-weight: 1000;
        font-family: 'Fira Sans', sans-serif;
        line-height: 1.6;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto; 
        margin-bottom: 30px; 
        border-bottom: 2px solid $blocks-hover-color; 
    }

    &__button {
        margin-top: 20px; 
        #contact-button {
            width: 250px; 
            height: 60px;
            margin: 20px auto;
            border: 1px solid black;
            text-decoration: none;
            font-size: 16px;
            background-color: transparent;
            cursor: pointer;

            h4 {
                text-align: center;
                padding: 0px; 
            }
        } 
    }

    &__newsletter {
        .form__wrapper {
            text-align: center;
        }

        input[type=text] {
            margin: 30px auto 10px; 
            width: 220px;
            height: 40px;
            border: 1px solid $border-color; 

            &::placeholder {
                text-align: left;
                padding-left: 15px; 
                color: rgb(58, 58, 58);
                font-size: 12px;
                font-style: italic; 
                font-weight: 1000;
                font-family: 'Fira Sans', sans-serif;
                line-height: 1.6;
            }
        }

        input[type=submit] {
            cursor: pointer;
            background-image: url('./imgs/send-icon.svg') no-repeat center center;
            width: 40px;
	        height: 40px;
	        border: none;
            color: transparent;
            background-color: white;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 100px; 
        margin: 0 auto; 
        margin-bottom: 10px; 

        img {
            width: 20px; 
            height: 20px;
        }
    }
}

@media only screen and (min-width: 800px) {
    .contacts {
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto; 
            width: 80%;
            height: 350px;
        }

        &__button {
            // border: 1px solid green;
            width: 30%;
        }

        &__newsletter {
            // border: 1px solid green;
            width: 40%;

            h4 {
                text-align: left;
            }

            p {
                text-align: left;
                margin-left: 0px; 
            }

            .form__wrapper {
                text-align: left;
            }
        }

        &__icons {
            display: flex;
            margin: 0 0;
            margin-top: -10px; 
            justify-content: space-between;
            align-items: flex-start; 
            align-content: flex-start; 
    
            img {
                width: 20px; 
                height: 20px;
            }
        }
    }
}