.footer {   
    h4 {
        text-transform: uppercase;
        color: black;
        letter-spacing: 3px; 
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    } 

    &__wrapper {
        margin-top: 50px;
        width: 100%;
    }

    &__menu {
        margin: 0; 
        width: 100%;

        &-children {
            display: none;
            background-color: $border-color;
            padding-left: 22px; 
            padding: 10px 0; 
    
            a {
                text-decoration: none; 
                span {
                    text-align: left; 
                    color: rgb(58, 58, 58);
                    letter-spacing: 3px; 
                    font-size: 14px;
                    font-weight: 1000;
                    font-family: 'Fira Sans', sans-serif;
                    line-height: 1.6;
                }
            }
        }

        &-children.active {
            display: flex;
            flex-direction: column;
        }

        &-dropdown {
            background-color: $border-color; 
            display: flex;
            justify-content: space-between;
            width: 100%;

            img {
                margin-top: 23px;
                margin-right: 25px;
                width: 20px; 
                height: 20px;
            }

            h4 {
                margin-left: 17px;
                text-align: left;
                padding: 10px; 
            }

            &:hover  {
                cursor: pointer;
                background-color: $blocks-hover-color;
                transition: background-color 0.7s;                 
            }

        //     &:active ~ .footer__menu-children {
        //         display: flex;
        //         flex-direction: column;
        // }  
        
        #button {
            display: block;
            margin: 20px auto;
            border: 1px solid black;
            background-color: transparent;
            padding: 5px 50px;
            text-decoration: none;
            display: block;
            font-size: 16px;
            cursor: pointer;

            h4 {
                padding: 0px; 
            }
        }
    }

        &-newsletter {
        margin-top: 0;
        background-color: $border-color;

        h4 {
            padding-top: 20px; 
            text-align: center;
        }

        p {
            margin: 0 auto; 
            text-align: center;
            color: rgb(58, 58, 58);
            width: 90%;
            letter-spacing: 3px; 
            font-size: 14px;
            font-weight: 1000;
            font-family: 'Fira Sans', sans-serif;
            line-height: 1.6; 
        }

        .form-inputs {
            margin: 17px auto; 
            
            .text-input { 
                border: none; 
                width: 240px; 
                height: 40px;   
            }
            
            .sumbit-input {
                margin: 0; 
                background-color: transparent;
                border: none; 
                width: 40px; 
                height: 40px; 
                background-image: url('./imgs/send-icon.svg') no-repeat center center;
                background-position: 0px 0px;
                background-repeat: no-repeat;
            }

        }
    }

        &-icons {
        display: flex;
        justify-content: space-between;
        width: 35%; 
        margin: 0 auto; 
        margin-bottom: 10px; 

        a {
            img {
                width: 15px; 
                height: 15px;
            }
        }
    }
}
}



// @media only screen and (min-width: 800px)