.payment {
    &__item {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 260px; 
        height: 70px;
        background-color: $border-color; 
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: rgba(243, 215, 219, 0.637); 
            transition: background-color 0.7s; 
        }

        img {
            width: 22px; 
            height: 22px;
        }

        span {
            text-align: center;
            text-transform: uppercase;
            color: black;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }
    }
}


@media only screen and (min-width: 600px) {
    .payment {
        width: 90%; 
        margin: 0 auto;
        margin-top: 50px; 
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        &__item {

        } 
    }
}