.three-photos {
    &__wrapper {
        margin: 0 auto;
        padding: 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    &__card {
        width: 95%;
        text-align: left;
        
        img {
            object-fit: cover;
        }
        a {
            margin-top: 20px;
            text-decoration: none;

            h3 {
                    color: black;
                    letter-spacing: 3px; 
                    text-transform: uppercase;
                    font-size: 17px;
                    font-family: 'Roboto', sans-serif;

                    &:hover {
                        color: $links-hover-color; 
                        font-weight: 900;
                        transition: color 0.5s;
                        transition: font-weight 0.3s; 
            }
            }
        }

        p {
            margin: 10px auto 40px; 
            color: rgb(58, 58, 58);
            width: 100%;
            letter-spacing: 3px; 
            font-size: 15px;
            font-weight: 1000;
            font-family: 'Fira Sans', sans-serif;
            line-height: 1.6;
        }
    }
}




@media only screen and (min-width: 900px) {
    .three-photos {
        &__wrapper {
            width: 90%; 
            margin: -10px auto 0;
        }

        &__card {
            width: 70%;

            img {
                width: 90%;
            }
        }
    }
}