.two-photos {
    &__wrapper {
        // border: 1px solid red;
        margin: 0;
        padding: 0;
    }

    &__card {
        width: 100%;
        text-align: center;
        margin-bottom: 45px;

        img {
            width: 100%;
        }

        h3 {
            margin-top: 40px;
            color: black;
            letter-spacing: 3px; 
            text-transform: uppercase;
            font-size: 17px;
            font-family: 'Roboto', sans-serif;
        }

        p {
            margin: 30px auto 40px; 
            color: rgb(58, 58, 58);
            width: 90%;
            letter-spacing: 3px; 
            font-size: 15px;
            font-weight: 1000;
            font-family: 'Fira Sans', sans-serif;
            line-height: 1.6;
        }
    }
}

@media only screen and (min-width: 700px) {

}