$ad-banner-color : #eaebed;
$min-screen-width: 960px; 
$medium-screen-width: 1419px; 
$links-hover-color: #904614; 
$carousel__card-text: rgba(233, 230, 227, 0.89); 
$mobile-width: 370px; 
$border-color: rgba(216, 216, 216, 0.623); 