@import "./vars";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

@import "./adbanner";
@import "./heading"; 
@import "./carousel";
@import "./twophotos";
@import "./threephotos";
@import "./features";
@import "./boutique";
@import "./payment";
@import "./footer";
@import "./bottom";

body {
    margin: 0;
}