@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
.ad-banner {
  background-color: #eaebed;
  height: 30px;
  width: 100%;
  text-align: center;
  position: relative;
}

.ad-banner__text {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 1px;
}

.ad-banner__select {
  display: none;
}

@media only screen and (min-width: 960px) {
  .ad-banner__select {
    display: block;
    position: absolute;
    top: 6px;
    right: 50px;
    width: 45px;
    cursor: pointer;
    font-weight: 900;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0 !important;
    background-image: url("../imgs/arrowdown.svg");
    background-repeat: no-repeat;
    background-position: right 3px top 50%;
    background-size: 10px 10px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 370px) {
  .ad-banner__text {
    font-size: 10px;
  }
}

.heading {
  height: 85px;
}

.heading__menu-left {
  display: none;
}

.heading__menu-right {
  display: none;
}

.heading__wrapper {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading__logo-icon {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.heading__logo-icon a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.heading img {
  height: 25px;
  widows: 25px;
  margin-top: 30px;
}

@media only screen and (max-width: 370px) {
  .heading {
    margin-top: -15px;
    margin-bottom: -20px;
  }
  .heading__logo-icon {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  .heading__logo-icon a {
    letter-spacing: 2px;
    font-size: 8px;
  }
  .heading img {
    height: 15px;
    widows: 15px;
  }
}

@media only screen and (min-width: 1419px) {
  .heading__menu-left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading__menu-right {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading__menu-right a:nth-child(1)::before {
    content: '\00a0 \00a0 \00a0 \00a0 \00a0';
    background-image: url("../imgs/search.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 15px 15px;
    background-position: left;
  }
  .heading__menu-right a:last-child::before {
    content: '\00a0 \00a0 \00a0 \00a0 \00a0';
    background-image: url("../imgs/cart.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 15px 15px;
    background-position: left;
  }
  .heading__menu-right a:last-child::after {
    content: '\00a0 \00a0 \00a0 \00a0';
    background-image: url("../imgs/circle.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 16px 16px;
    background-position: right;
    background-position: top 4px;
  }
  .heading a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 2px;
  }
  .heading a:hover {
    color: #904614;
    font-weight: 900;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
  }
  .heading__account-icon {
    display: none;
  }
  .heading__cart-icon {
    display: none;
  }
  .heading__menu-icon {
    display: none;
  }
  .heading__search-icon {
    display: none;
  }
}

.carousel {
  height: auto;
}

.carousel__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.carousel__wrapper--card {
  width: 100%;
  background-color: black;
  color: rgba(233, 230, 227, 0.89);
  margin: -3px 0 0 0;
  padding-top: 30px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0;
  height: 350px;
}

.carousel__wrapper--card p {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 3px;
}

.carousel__wrapper--card h2 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}

.carousel__wrapper--card #first-h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 38px;
}

.carousel__wrapper--card #second-h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  margin-top: -20px;
  letter-spacing: 2px;
  font-size: 30px;
}

.carousel__wrapper--card a {
  text-decoration: none;
}

.carousel__wrapper--card a p {
  color: rgba(233, 230, 227, 0.89);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.carousel__wrapper--card a p:hover {
  color: #904614;
  font-weight: 900;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}

.carousel__wrapper--card button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 25px 95px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgba(233, 230, 227, 0.89);
}

.carousel__wrapper--card button:hover {
  border: 2px solid #904614;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.carousel__wrapper--card button a {
  text-decoration: none;
}

.carousel__wrapper--card button a p {
  margin: 0;
  padding: 0;
  color: rgba(233, 230, 227, 0.89);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.carousel__wrapper--card button a p:hover {
  color: #904614;
  font-weight: 900;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}

.carousel__track-container {
  height: 500px;
  overflow: hidden;
}

.carousel__track {
  background: lightblue;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.carousel__slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.carousel__button {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-transform: translateY(-900%);
          transform: translateY(-900%);
}

.carousel__indicator {
  margin-left: 20px;
  background: #9d8345;
  border: 0;
  width: 65px;
  height: 2.5px;
  cursor: pointer;
  z-index: 1;
  outline: none;
}

.carousel__indicator:hover {
  background: #d4bc87;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.current-slide {
  background: #d4bc87;
}

@media only screen and (min-width: 600px) {
  .carousel__wrapper {
    position: relative;
    height: 650px;
  }
  .carousel__wrapper--card {
    position: absolute;
    width: 400px;
    height: 370px;
    bottom: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .carousel__track-container {
    height: 650px;
  }
  .carousel__slide img {
    height: 700px;
  }
}

@media only screen and (max-width: 370px) {
  .carousel__wrapper--card {
    padding-top: 15px;
    padding-left: 20px;
    height: auto;
  }
  .carousel__wrapper--card p {
    font-size: 10px;
  }
  .carousel__wrapper--card #first-h2 {
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .carousel__wrapper--card #second-h2 {
    font-size: 20px;
  }
  .carousel__wrapper--card a p {
    font-size: 13px;
  }
  .carousel__wrapper--card button {
    padding: 20px 55px;
  }
}

.two-photos__wrapper {
  margin: 0;
  padding: 0;
}

.two-photos__card {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.two-photos__card img {
  width: 100%;
}

.two-photos__card h3 {
  margin-top: 40px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.two-photos__card p {
  margin: 30px auto 40px;
  color: #3a3a3a;
  width: 90%;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 1000;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
}

@media only screen and (min-width: 600px) {
  .two-photos__wrapper {
    width: 90%;
    margin: 60px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .two-photos__card img {
    width: 80%;
  }
}

.three-photos__wrapper {
  margin: 0 auto;
  padding-bottom: -50px;
  padding: 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.three-photos__card {
  width: 95%;
  text-align: left;
}

.three-photos__card img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.three-photos__card a {
  margin-top: 20px;
  text-decoration: none;
}

.three-photos__card a h3 {
  margin-bottom: 7px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.three-photos__card a h3:hover {
  color: #904614;
  font-weight: 900;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}

.three-photos__card p {
  margin: 5px auto 20px;
  color: #3a3a3a;
  width: 100%;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 1000;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
}

@media only screen and (min-width: 800px) {
  .three-photos__wrapper {
    width: 90%;
    margin: -10px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .three-photos__card {
    width: 30%;
  }
  .three-photos__card img {
    width: 100%;
  }
  .three-photos__card p {
    margin: 5px auto 30px;
    font-size: 16px;
  }
}

body {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */